/*edit the body of page*/
body {
    color: #fff;
}
/*style the question and answers section of quiz*/
.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgba(74,0,128,1);
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(0,212,255,1);
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: #fff;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}
/*style if answer is correct*/
.correct {
    background: green;
}
/*style if answer is wrong*/
.incorrect {
    background: red;
}
/*style progress bar*/
#progress {
    display: flex;
    justify-content: space-between;
}

.progress-prefix {
    text-align: center;
    font-size: 2rem;
}

.progress-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(0, 128, 0);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(0, 128, 0);
    width: 0%;
}
/* media query for 768px size screen */
@media screen and (max-width: 768px) { 
    .choice-container{
        min-width: 40rem;
    }
}

/*media query for 320px size screen*/
@media screen and (max-width: 320px) {
    #question {
        min-width: 10rem;
    }
    .choice-container {
        min-width: 10rem;
    }
}
