/*link to google fonts to be used across the website*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto:wght@300&display=swap');

/*applying a background color to the whole website*/
body {
    background-color: rgb(128, 128, 128);
    
}
/* style to be used across the whole website */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'roboto', cursive;
}
/*style to be applied to header of most pages in the website */
header {
    background-color: rgba(74,0,128,1);
    background-size: 100%;
    background-position: center;
    height: 100px;
    padding: 20px;
    text-align: center;
}

header a {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
}
/* styling the logo to appear within the nav bar */
header .logo a {
    background-image: url("/assets/images/grey\'s-anatomy.png");
    background-size: 300px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 80px;
    position: relative;
    text-indent: -9999999px;
    top: -40px;
    width: 300px;
}

/*style to appear when hovered over nav bar */
header a:hover {
    border-bottom: 1px solid #fff;
}
/* style to appear on nav bar when page is active */
.active {
    border-bottom: 1px solid #fff;
}
/* hero image */
#image-outer {
    overflow: hidden;
}

.hero-image {
    max-width: 100%;    
    height: auto;
    }
/* style for nav bar */
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 20px;
}

/* style when using h1 tag */
h1{
    font-size: 5.4rem;
    color: #fff;
    margin-bottom: 5rem;
}

/* style when using h2 tag */
h2{
    font-size: 4.2rem;
    color: #fff;
    margin-bottom: 5rem;
}

/* style applied to text on index page */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    }

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

/* style to apply to buttons across the page */
.button {
    font-size: 5rem;
    padding: 2rem 0;
    width: 38rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(74,0,128,1) 35%, rgba(0,212,255,1) 100%);
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(0,212,255,1);
    transition: transform 150ms;
    transform: scale(1.03);
}

.button[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none; 
}

/* editing style of icons*/
.fa-stethoscope {
    font-size: 4rem;
    margin-left: 1rem;
}

.fa-trophy {
    font-size: 4rem;
    margin-left: 1rem;
}
/* footer */
footer {
    background-color: rgba(74,0,128,1);
    height: 100px;
    width: 100%;
    bottom: 0;
}
footer > ul {
    text-align: center;
    display: flex;
}

footer > li {
    display: inline;
}

/* editing style of icons*/
.fa-instagram-square {
    font-size: 5rem;
    color: #fff;
    margin: 1rem;
}

.fa-github-square {
    font-size: 5rem;
    color: #fff;
    margin: 1rem;
}

/* Highscore Page CSS */
.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(0,212,255,1);
}

input::placeholder {
    color: #aaa;
}

#username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}

#end-text {
    font-size: 2.4rem;
    color: #fff;
    text-align: center;
}

#saveScore {
    border: none;
}

.fa-home {
    margin-left: 1rem;
    font-size: 4rem;
    color: #fff;
}

/* Leaderboard CSS */

#highScoreList {
    list-style: none;
    margin-bottom: 4rem;
}

.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem; 
}

/* Fun Facts CSS */
.funfacts > h1 {
    text-align: center;
    font-family: raleway;
}

.funfactstext {
    list-style-type: disc;
}

.funfactstext > li {
    text-align: center;
    font-size: 2rem;
    color: #fff;
} 